* {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
      color: black;
      text-align: center;
      font-style: oblique;
}

body {
	background-color: rgb(248, 248, 216);
	color: black;
}


/* Styling Flexbox */
#flexbox-demo-bg {
	background-color:rgb (248, 248, 216) ;
	color: black;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color:rgb (248, 248, 216);
    gap: 40px;
}

.flex-item {
	background-color:rgb (248, 248, 216);
    height: 300px;
	width: 500px;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
    font-family: Georgia;
    font-style: oblique;
}

.flex-item:hover {
    opacity: 0.6;
}
.my-notes{
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-style: oblique;
}

.diff-bg{
    background-color: white;
}

.diff-color{
    background-color: aliceblue;
}
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}  



.nav-links a {
    text-decoration: none;
    color: black;
    background-color:rgb (248, 248, 216);
    padding: 25px;
}
/* Styling Grid */
.grid-container {
	display: grid;
	grid-template-rows: 150px 150px 150px;
	grid-template-columns: 100px 100px 100px;
	row-gap: 10px;
	column-gap: 20px;
}
.grid-item {
	background-color:rgb (248, 248, 216);
	color: white;
	border: 3px solid purple;
	width: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
}