* {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
      color: whitesmoke;
      text-align: center;
}

body {
	background-color: white;
	color: black;
}


/* Styling Flexbox */
#flexbox-demo-bg {
	background-color: aquamarine;
	color: white;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color:aquamarine;
    gap: 40px;
}

.flex-item {
	background-color: aquamarine;
	width: 400px;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}

.my-notes{
    font-weight: bolder;
    font-size: small;
    text-align: justify;
}
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}  



.nav-links a {
    text-decoration: none;
    color: white;
    background-color: aquamarine;
    padding: 15px;
}
/* Styling Grid */
.grid-container {
	display: grid;
	grid-template-rows: 150px 150px 150px;
	grid-template-columns: 100px 100px 100px;
	row-gap: 10px;
	column-gap: 20px;
}
.grid-item {
	background-color: aquamarine;
	color: white;
	border: 3px solid purple;
	width: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
}